[submodule "bundle/asciidoc"]
	path = bundle/asciidoc
	url = https://github.com/vim-scripts/asciidoc.vim.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/DirDiff"]
	path = bundle/DirDiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = https://github.com/vim-scripts/file-line.git
[submodule "bundle/indentpython"]
	path = bundle/indentpython
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "bundle/lookupfile"]
	path = bundle/lookupfile
	url = https://github.com/vim-scripts/lookupfile.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/multi-cursors"]
	path = bundle/multi-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "bundle/vim-visual-increment"]
	path = bundle/vim-visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
[submodule "bundle/vim-opencl"]
	path = bundle/vim-opencl
	url = https://github.com/petRUShka/vim-opencl.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/rust-lang/rust.vim
